body{
    background: black;
}
.col{
    height: 400px;
    background-color: antiquewhite;
    padding: 0%! important;
    margin: 5%;
}
.hover-1{
    position: relative;
}
.inner-1{
    position: absolute;
background-color: purple;
width: 25%;
height: 25%;
right: 0;
border-bottom-left-radius: 100%;
}
.hover-1:hover{
    .inner-1{
        width: 100%;
        height: 100%;
         border-radius: 0px;
         transition: 1s ease-in-out;
        }
}
    



